In [ ]:
n=[5,4,3]

In [ ]:
n.sort()

In [ ]:
n

In [ ]:
pwd

In [ ]:
(((10*10)/10)**2)+1-.75

In [ ]:
4 * (6 + 5)

In [ ]:
4 * 6 + 5

In [ ]:
import math

In [ ]:
math.sqrt(25)

In [ ]:
s="hello"

In [ ]:
s[::-1]

In [ ]:
list3 = [1,2,[3,4,'hello']]

In [ ]:
list3[2][2]="goodbye"

In [ ]:
list3

In [ ]:
list3[2].insert(2,'goodbye')

In [ ]:
list3

In [ ]:
list3[2].remove('hello')

In [ ]:
list3

In [ ]:
list3[2].remove("hello")

In [ ]:
list3

In [ ]:
list4 = [5,3,4,6,1]

In [ ]:
list4.sort()

In [ ]:
list4

In [ ]:
d = {'simple_key':'hello'}

In [ ]:
d['simple_key']

In [ ]:
d = {'k1':{'k2':'hello'}}

In [ ]:
d['k1']['k2']

In [ ]:
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

In [ ]:
list_d=d['k1']

In [ ]:
list_d

In [ ]:
dict_d=list_d[0]

In [ ]:
dict_d

In [ ]:
list1_d=dict_d['nest_key']

In [ ]:
list1_d

In [ ]:
list1_d[1][0]

In [ ]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]

In [ ]:
set(list5)

In [ ]:
3.0 == 3

In [ ]:
4**0.5 != 2

In [ ]:
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

In [ ]:
l_one[2][0] >= l_two[2]['k1']

In [ ]:
d={"k1":1, "k2":2, "k3":3}
for key in d.keys():
    print(key)

In [ ]:
list_sum=0
mylist=[1,2,3]
for num in mylist:
    list_sum=list_sum+num
    print(list_sum)
print("out of loop sum is:", list_sum)

In [ ]:
#Use for, .split(), and if to create a Statement that will print out words that start with 's':
st = 'Print only the words that start with s in this sentence'
for i in st:
    if i=="s" in st:
        print(i)

In [ ]:
st = 'Print only the words that start with s in this sentence'
x=st.split()
print(x[5])
print(x[7])
print(x[10])

In [ ]:
st = 'Print only the words that start with s in this sentence'

In [ ]:
x=st.split()

In [ ]:
x

In [ ]:
for word in x:
    if word[0]=='s':
        print(word)

In [ ]:
st = 'Sam Print only the words that start with s in this sentence'

In [ ]:
x=st.split()
for word in x:
    if word[0].lower()=='s':
        print(word)

In [ ]:
#Use range() to print all the even numbers from 0 to 10.
list(range(0,11,2))

In [ ]:
for i in range(0,11,2):
    print(i)

In [ ]:
#Use a List Comprehension to create a list of all numbers between 1 and 50 that are divisible by 3.
for x in range(1,51):
    if x%3==0: 
        print(x)

In [ ]:
mylist=[x for x in range(1,51) if x%3==0]
print(mylist)

In [ ]:
#Go through the string below and if the length of a word is even print "even!"
st = 'Print every word in this sentence that has an even number of letters'

In [ ]:
x=st.split()
print(x)

In [ ]:
for every_even_word in x:
    if len(every_even_word)%2==0:
        print(every_even_word+ " is even")

In [ ]:
#Write a program that prints the integers from 1 to 100.
#But for multiples of three print "Fizz" instead of the number,
#and for the multiples of five print "Buzz". For numbers which are 
#multiples of both three and five print "FizzBuzz".

for x in range(1,101):
    if x%3==0 and x%5==0:
        print("FizzBuzz")
    elif x%3==0:
        print("Fizz")
    elif x%5==0:
        print("Buzz")
    else:
        print(x)

In [ ]:
#Use List Comprehension to create a list of the first letters of every word in the string below:
st = 'Create a list of the first letters of every word in this string'
for i in st.split():
    print(i[0])

In [ ]:
[i[0] for i in st.split()]

In [ ]:
work_hours=[("Ali", 100), ("Bilal", 200), ("Usama", 500)]

In [ ]:
def employee_check(work_hours):
    current_max=0
    employee_of_month=""
    for employee,hours in work_hours:
            if hours>current_max:
                current_max=hours
                employee_of_month=employee
            else:
                pass
    return (employee_of_month,hours)

In [ ]:
employee_check(work_hours)

In [ ]:
def myfunc(x,y,z):
    if z==True:
        return x
    else:
        return y

In [ ]:
myfunc("hello","Goodbye",False)

In [ ]:
def myfunc(a,b,c):
    if c == True:
        return a
    else:
        return b

In [ ]:
myfunc('Hello','Goodbye',False)

In [ ]:
def is_even(a):
    if a%2==0:
        return True
    else:
        return False

In [ ]:
is_even(2)

In [ ]:
def is_greater(a,b):
    if a>b:
        return True
    else:
        return False

In [ ]:
is_greater(20,3)

In [ ]:
def myfunc(*args):
    return sum(args)

In [ ]:
myfunc(20,30)

In [ ]:
#Define a function called myfunc that takes in an arbitrary number of arguments, 
#and returns a list containing only those arguments that are even.
def myfunc(*args):
    args_even=[]
    for num in args:
        if num%2==0:
            args_even.append(num)
            
    return args_even

In [ ]:
myfunc(2,2,3,10,20)

In [ ]:
st="shakeel"

In [ ]:
result=st.index("l")

In [ ]:
#Define a function called myfunc that takes in a string, and returns a matching string 
#where every even letter is uppercase, and every odd letter is lowercase. Assume that 
#the incoming string only contains letters, and don't worry about numbers, spaces or punctuation. 
#The output string can start with either an uppercase or lowercase letter, so long as letters 
#alternate throughout the string.
def myfunc(st):
    for every_letter in st:
        if st.index(every_letter)%2==0:
            return st.index().upper()
        elif st.index(every_letter)%2!=0:
            return st.index().lower()

In [ ]:
myfunc("shakeel")

In [ ]:
x="shakeel"

In [ ]:
range(len(x))

In [ ]:
def myfunc(st):
    return_out=[]
    for every_letter in range(len(st)):
        if every_letter%2==0:
            return_out.append(st[every_letter].lower())
        elif every_letter%2!=0:
            return_out.append(st[every_letter].upper())
    return return_out

In [ ]:
myfunc("shakeel")

In [ ]:
def myfunc(name):
    newname = list(name)
    for i in newname:
        if newname.index(i)% 2 == 0:
            newname[newname.index(i)] = i.upper()
        else:
            newname[newname.index(i)] = i.lower()
    return ''.join(newname)

In [ ]:
myfunc("shakeel")

In [ ]:
def myfunc(st):
    return_out=[]
    for every_letter in range(len(st)):
        if every_letter%2==0:
            return_out.append(st[every_letter].lower())
        else: 
            return_out.append(st[every_letter].upper())
    return "".join(return_out)

In [ ]:
myfunc("shakeel")

In [ ]:
#Write a function that returns the lesser of two given numbers if both numbers are even, 
#but returns the greater if one or both numbers are odd
def myfunc1(a,b):
    if a%2==0 and b%2==0:
        return min(a,b)
    else:
        return max(a,b)

In [ ]:
myfunc1(4,2)

In [ ]:
myfunc1(2,5)

In [ ]:
#Write a function takes a two-word string and returns True if both words begin with same letter
def animal_crackers(text):
    wordlist = text.split()
    if wordlist[0][0] == wordlist[1][0]:
        return True
    else:
        False

In [ ]:
animal_crackers("shakeel shmad")

In [ ]:
def animal_crackers(text):
    wordlist = text.split()
    
    print(text.split())

In [ ]:
animal_crackers("shakeel shmad")

In [ ]:
def animal_crackers(text):
    wordlist = text.split()
    return wordlist[0][0] == wordlist[1][0]

In [ ]:
animal_crackers("shakeel shmad")

In [ ]:
animal_crackers('Crazy Kangaroo')

In [ ]:
def myfunc(a,b):
    if a+b==20 or a==20 or b==20:
        return True
    else:
        return False

In [ ]:
myfunc(21,9)

In [ ]:
myfunc(20,10)

In [ ]:
myfunc(10,10)

In [ ]:
def makes_twenty(n1,n2):
    return (n1+n2)==20 or n1==20 or n2==20

In [ ]:
myfunc(10,10)

In [ ]:
myfunc(20,10)

In [ ]:
myfunc(21,9)

In [ ]:
#Write a function that capitalizes the first and fourth letters of a name
def myfunc(name):
    x=name.split()
    return x[0][0].upper()

In [ ]:
myfunc("shakeel")

In [ ]:
def cap_func(name):
    print(name[:3].capitalize()+name[3:].capitalize())

In [ ]:
cap_func("shakeel")

In [ ]:
cap_func("Ahm")

In [ ]:
def cap_func(name):
    if len(name)>3:
        return (name[:3].capitalize()+name[3:].capitalize()) #return to function as string
    else:
        print("name is too short")

In [ ]:
cap_func("shakeel")

In [ ]:
#Given a sentence, return a sentence with the words reversed
st="My name is Shakeel"

In [ ]:
print(st[::-1])

In [ ]:
x=st.split()

In [ ]:
def rev_func(x):
    return " ".join(x[::-1])

In [ ]:
rev_func(x)

In [ ]:
def int_func(num):
    if num in range(90, 111):
        return True
    if num in range(190, 211):
        return True
    else:
        return False

In [ ]:
int_func(2)

In [ ]:
def almost_there(n):
    return ((abs(100 - n) <= 10) or (abs(200 - n) <= 10))

In [ ]:
almost_there(90)

In [ ]:
#Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.def has_33(nums):
from array import*
import numpy as np
def myfunc(num):
    list1 = [3,3]
    if list1 in num[:]:
        return True
    else:
        return False

In [ ]:
myfunc([1,3,3])

In [ ]:
list1 = list[3,3]

if list1 in [3,3]:
    print(True) 
else:
    print(False)

In [ ]:
numbers = [1, 2, 3, 2, 5, 3, 3, 5, 6, 3, 4, 5, 7]

duplicates = [number for number in numbers if numbers.count(number) > 1]
unique_duplicates = list(set(duplicates))

print(unique_duplicates)

In [ ]:
#Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.
def has_33(nums):
    for i in range(0, len(nums)-1):
      
        # nicer looking alternative in commented code
        if nums[i] == 3 and nums[i+1] == 3:
            return True  
    
    return False
    
       # for i in range(0, len(nums)-1):
        #if nums[i:i+2] == [3,3]:

In [ ]:
has_33([1, 3, 1,3,3])

In [ ]:
nums=[1, 3, 3]
x=range(0, len(nums))
print(x)
print(nums[0:3])

In [ ]:
#Given a string, return a string where for every character in the original there are three characters
def paper_doll(text):
    result = ''
    for char in text:
        result += char * 3
    return result

In [ ]:
paper_doll("shakeel")
#print(type(x))

In [ ]:
text="shakeel"
x=list(text)
print(x)

In [ ]:
def blackjack(a,b,c):
    if (a+b+c)<=21:
        return a+b+c
    elif (a+b+c)>21 and a==11 or b==11 or c==11:
        return (a+b+c-10)
    elif a+b+c>21:
        return "Bust"

In [ ]:
blackjack(9,11,11)

In [ ]:
#Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. 
#If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) 
#exceeds 21, return 'BUST
def blackjack(a,b,c):
    
    if sum((a,b,c)) <= 21:
        return sum((a,b,c))
    elif sum((a,b,c)) <=31 and 11 in (a,b,c):
        return sum((a,b,c)) - 10
    else:
        return 'BUST'

In [ ]:
blackjack(9,9,11)

In [77]:
#Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending 
#to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers
def summer_69(arr):
    y = []
    for x in arr:
        if 6 in arr:
            a = arr.index(6)
            b = arr.index(9)
            del arr[a:b+1]
            y = arr
        elif arr == []:
            return "0"
        else:
            return sum(arr)
    return sum(y)

In [78]:
def summer(arr):
    if 6 and 9 in arr:
        a = arr.index(6)
        b = arr.index(9)
        print(sum(arr)-sum(arr[a:b+1]))
    else:
        return 0
        

arr=[]
summer(arr)

0

In [ ]:
print(type(arr))
print(a)
print(b)
print(arr[a:b+1])

In [ ]:
summer_69([2, 1, 6, 9, 11]) 
def summer_69(arr):
    total = 0
    add = True
    for num in arr:
        while add:
            if num != 6:
                total += num
                break
            else:
                add = False
        while not add:
            if num != 9:
                break
            else:
                add = True
                break
    return total

In [ ]:
summer_69([1, 3, 5,6])

In [ ]:
summer_69([4, 5, 7, 6,8, 9,10])

In [79]:
#Write a function that takes in a list of integers and returns True if it contains 007 in order
 
def spy_game(nums):

    code = [0,0,7,'x']
    
    for num in nums:
        if num == code[0]:
            code.pop(0)   # code.remove(num) also works
       
    return len(code) == 1

In [80]:
spy_game([1,2,4,0,0,7,5])

True

In [ ]:
def spy_game(num):
    a=[]
    for i in num:
        if i==0:
            a.append(i)
        elif i==7:
            a.append(i)
    if a==[0,0,7]:
        return True
    else:
        return False

In [ ]:
spy_game([1,2,4,0,7,5])

In [ ]:
#COUNT PRIMES: Write a function that returns the number of prime numbers that exist up to and including a given number
def count_prime(num):
    x=range(num)
    if x%2!=0 and x%3!=0:
        return list(num)

In [ ]:
count_prime(10)

In [ ]:
range(10)
#print(x)

In [108]:
def count_primes2(num):
    primes = [2]
    x = 3
    if num < 2:
        return 0
    while x <= num:
        for y in primes:  # use the primes list!
            if x%y == 0:
                x += 2
                break
            else:
                primes.append(x)
                x += 2
    print(primes)
    return len(primes)

In [109]:
count_primes(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

In [95]:
x=3
range(3,x,2)
for i in range(1,x,2):
    print(i)

1

In [94]:
#n=int(input("enter size of list"))
a=[]
b=[]
def odd_even(num):
    for i in num:
        if i%2!=0:
            a.append(i)
            #print(a)
        else:
            b.append(i)
            #print(b)
    return (a,b)

In [95]:
x,y=odd_even([5,10,20,30])
print(x)
print(y)

[5]
[10, 20, 30]

In [129]:
count=0
def prime_check(num):
    for i in range(2,num):
        if num%i==0:
            print(i)

In [130]:
prime_check(100)

2
4
5
10
20
25
50

In [24]:
#num=int(input("enter num to check prime="))

def prime_ck(num):
    i=1
    counter=0
    a=[]
    while i<=num:
    
        if num%i==0:
            counter=counter+1
            print(i)
            a.append(i)
        i+=1            
    if counter==2:
        print("num is Prime")    
    else:
        print("num is not Prime")
    print(a)

prime_ck(11)

In [29]:
prime_ck(3)

1
3
num is Prime
[1, 3]

In [10]:
i=29
x=str(i)
list(x)

['2', '9']

In [5]:
lowerlimit = input('enter a the lower limit: ')
uplimit = input('enter a the upper limit: ')
limitstart = int(lowerlimit)
limitend = int(uplimit)

primes =[]
counter = 0 

for num in range(limitstart,limitend+1):
    #counter = 0 
    #primes =[]
    for i in range(1,num+1):
        if(num%i ==0):
            counter = counter + 1
    if(counter == 2):
        primes.append(i) #primes.append(num) both give same result as last iteration of i is equal to num
    
print(primes)

enter a the lower limit: 1
enter a the upper limit: 10
[]

for i in range(1,3):
    if 0%i==0:
        print(i)

In [1]:
#a=[]

def prime_ck(nums):
    
    #counter=0 gives diff ans empty list
    a=[] #no change
    b=[]
    for num in range(1,nums+1):
        counter=0
        #a=[] gives empty list
        for i in range(1,num+1):
            #counter=0 gives empty list
            if num%i==0:
                counter=counter+1
                #print(i)
                #a.append(i)
                #i+=1            
        if counter==2: 
            a.append(num)
            print("num is Prime",i) 
            #print(a)
        else:
            b.append(num)
            print("num is not Prime",i)
    print("numbers are prime in list", a)
    print(len(a))

In [2]:
prime_ck(100)

num is not Prime 1
num is Prime 2
num is Prime 3
num is not Prime 4
num is Prime 5
num is not Prime 6
num is Prime 7
num is not Prime 8
num is not Prime 9
num is not Prime 10
num is Prime 11
num is not Prime 12
num is Prime 13
num is not Prime 14
num is not Prime 15
num is not Prime 16
num is Prime 17
num is not Prime 18
num is Prime 19
num is not Prime 20
num is not Prime 21
num is not Prime 22
num is Prime 23
num is not Prime 24
num is not Prime 25
num is not Prime 26
num is not Prime 27
num is not Prime 28
num is Prime 29
num is not Prime 30
num is Prime 31
num is not Prime 32
num is not Prime 33
num is not Prime 34
num is not Prime 35
num is not Prime 36
num is Prime 37
num is not Prime 38
num is not Prime 39
num is not Prime 40
num is Prime 41
num is not Prime 42
num is Prime 43
num is not Prime 44
num is not Prime 45
num is not Prime 46
num is Prime 47
num is not Prime 48
num is not Prime 49
num is not Prime 50
num is not Prime 51
num is not Prime 52
num is Prime 53
num is not Prime 54
num is not Prime 55
num is not Prime 56
num is not Prime 57
num is not Prime 58
num is Prime 59
num is not Prime 60
num is Prime 61
num is not Prime 62
num is not Prime 63
num is not Prime 64
num is not Prime 65
num is not Prime 66
num is Prime 67
num is not Prime 68
num is not Prime 69
num is not Prime 70
num is Prime 71
num is not Prime 72
num is Prime 73
num is not Prime 74
num is not Prime 75
num is not Prime 76
num is not Prime 77
num is not Prime 78
num is Prime 79
num is not Prime 80
num is not Prime 81
num is not Prime 82
num is Prime 83
num is not Prime 84
num is not Prime 85
num is not Prime 86
num is not Prime 87
num is not Prime 88
num is Prime 89
num is not Prime 90
num is not Prime 91
num is not Prime 92
num is not Prime 93
num is not Prime 94
num is not Prime 95
num is not Prime 96
num is Prime 97
num is not Prime 98
num is not Prime 99
num is not Prime 100
numbers are prime in list [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]
25

In [76]:
while 1<=1:
    print(True)
    break

True

In [4]:
9%6==0

False

In [4]:
#PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
def print_big(letter):
    patterns = {1:'  *  ',2:' * * ',3:'*   *',4:'*****',5:'**** ',6:'   * ',7:' *   ',8:'*   * ',9:'*    '}
    alphabet = {'A':[1,2,4,3,3],'B':[5,3,5,3,5],'C':[4,9,9,9,4],'D':[5,3,3,3,5],'E':[4,9,4,9,4]}
    for pattern in alphabet[letter.upper()]:
        print(patterns[pattern])

In [163]:
print_big("A")

  *
 * *
*****
*   *
*   *

In [10]:
patterns = {1:'  *  ',2:' * * ',3:'*   *',4:'*****',5:'**** ',6:'   * ',7:' *   ',8:'*   * ',9:'*    '}
alphabet = {'A':[1,2,4,3,3],'B':[5,3,5,3,5],'C':[4,9,9,9,4],'D':[5,3,3,3,5],'E':[4,9,4,9,4]}
for k in alphabet:
    print(k)
    for i in alphabet[k]:
        print(patterns[i])
    print(alphabet[k])

A
  *
 * *
*****
*   *
*   *
[1, 2, 4, 3, 3]
B
****
*   *
****
*   *
****
[5, 3, 5, 3, 5]
C
*****
*
*
*
*****
[4, 9, 9, 9, 4]
D
****
*   *
*   *
*   *
****
[5, 3, 3, 3, 5]
E
*****
*
*****
*
*****
[4, 9, 4, 9, 4]

In [45]:
patterns = {1:'  *  ',2:' * * ',3:'*   *',4:'*****',5:'**** ',6:'   * ',7:' *   ',8:'*   * ',9:'*    '}
alphabet = {'A':[1,2,4,3,3],'B':[5,3,5,3,5],'C':[4,9,9,9,4],'D':[5,3,3,3,5],'E':[4,9,4,9,4]}

for k in alphabet.values():
    print(k)
    for i in k:
        
        print(patterns[i])

[1, 2, 4, 3, 3]
  *
 * *
*****
*   *
*   *
[5, 3, 5, 3, 5]
****
*   *
****
*   *
****
[4, 9, 9, 9, 4]
*****
*
*
*
*****
[5, 3, 3, 3, 5]
****
*   *
*   *
*   *
****
[4, 9, 4, 9, 4]
*****
*
*****
*
*****